.content{
    display: flex;
    justify-content: space-around;
}
.e1{
    width: 200px;
}
.e4{
    width: 300px;
}
.e1_1{
    margin-top: 1vw;
}
.e2{
    display: block;
}
a{
    text-decoration: none;
    color: black;
}
input{
    height: 40px;
    width: 20vw;
}
button{
    height: 40px;
    width: 20.5vw;
    color: white;
    background-color: black;
    margin-bottom: 20px;
}
.e4 button:hover{
    background-color: white;
    color: black;
    animation-duration : 5s;
    animation-timing-function: ease-in;
}
